<div class="container-sm bg-white p-4 rounded shadow mt-5">
  <h2 class="alert alert-info">Edit student details</h2>
  {{#if msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span>{{msg}}</span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}
  {{#each data}}
    <form method="post" action="/admin/editstudent/{{this.REGNO}}">

      <div class="form-group">
        <label for="regno">Reg NO</label>
        <input
          type="number"
          class="form-control"
          id="regno"
          name="regno"
          value="{{this.REGNO}}"
        />
      </div>
      <div class="form-group">
        <label for="name">NAME</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{this.NAME}}"
        />
      </div>
      <div class="form-group">
        <label for="dept">DEPT</label>
        <input
          type="text"
          class="form-control"
          id="dept"
          name="dept"
          value="{{this.DEPT}}"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/admin/manage" class="btn btn-secondary">View all</a>
      </div>
    </form>
  {{/each}}
</div>